.search-container{
    flex: 4;
    
}
.movie-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 200px;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
    gap:20px
  }
  .container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  //this made my stuff shrinked and did some funny stuff
  /* a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color:white;
  } */
.nav-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2000px;
    padding: 50px;
  }

  /* .nav-button a {
    text-decoration: none;
    padding: 8px 16px;
    width: 20px;
    height: 20px;
  }
  
  .nav-button a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color:white;
  }
  .round {
    border-radius: 50%; */
    .nav-button  {
    align-content: center;
    }
  .nav-button button {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    margin: 0 27px;
    border-radius: 50%;
    align-items: center;
  }